DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=7d
PORT=3001
NODE_ENV=development

APP_URL=http://localhost:3000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME=FilmPro

OPENPIX_APP_ID=
OPENPIX_WEBHOOK_SECRET=
PRICE_PER_STORE_CENTS=7990

API_KEY=